@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
* {
    font-family: 'Montserrat', sans-serif;
}  
a {
    text-decoration: none;
}
/*  Menú */
header {
	background:#712587;
    position: fixed;
    width:100%;
    top:0px;
    z-index: 3;
    height: 74px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}    
header img {
	width:10%;
    padding:10px;
	padding-left:3%;
}     
header ul {
    text-align: right;
    list-style: none;
    padding-right: 3%;
}   
header li {
    text-align: center;
    display:inline-block;
    width:150px;
    margin:0px auto;
    color: #FBFBFB;  
}
.morado {
    color: #712587;
}

/* Seccion 1 */
.seccion-1 {
    margin-top: 74px;
    display: flex;
    position: relative;
}


.seccion-1 .video img {
    width: 100%;
    height: 100%; 
    padding: 10px;
    object-fit: cover; 
}

.contenedor {
    position: relative; /* corrige la palabra "relatives" a "relative" */
    display: inline-block;
}

.fondo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #80419148;
    z-index: 1; 
}

.texto {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; /* establece la altura del contenedor en 100% */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.texto-contenido {
    text-align: center;
    max-width: 800px;
    color: #fff;
    margin: 0 auto; /* centra horizontalmente el contenido de texto */
}
  
.seccion-1 .video img {
    width: 100%;
    height: 100%;
    padding: 10px;
    object-fit: cover;
  }
  

.seccion-2 p {
    background-color: #FAB724;
    display: flex;
    width: 400px;
}
  







/* Footer */   
footer, body {
    margin: 0;
    padding: 0;
}  
.main-footer {
    background-color: #712587;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}   
.main-footer ul {
    padding: 0;
}
.main-footer li {
    list-style: none;
}
.main-footer a {
    color: white;
    line-height: 22px;
}
.logo-footer img,
.logo-reclamaciones img {
    width: 130px;
}
.redes-footer, .contacto-footer {
    height: 150px;
}
.black-footer {
    display: flex;
    padding: 0px 20px;
    justify-content: left;
    background-color: black;
    font-size: 13px;
    color: white;
}  
.redes-footer a {
    display: block;
    font-size: 24px;
}
.redes-footer ul {
    display: flex;
    gap: 14px;
}
